.section-title {
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 100px;
}

.video__section-title{
  width: 60%;
  line-height: 1.15px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

.resources__section-title{
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  padding-bottom: 20px;
}
