.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-bottom: 60px;
}

.video__section-subtitle{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-bottom: 50px;
}

.resources__section-subtitle{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-bottom: 80px;
}
