.header__title {
  max-width: 730px;
  width: 100%; /*updated */
  margin-left: 64px;
  z-index: 3;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}
