div, section{
 border: solid 2px red;
}

h1{
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}





.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* parameters for the header section */
}

.header__title{
  display: flex;
  width: 730px;
  padding-left: 64px;
  flex-direction: column;
  justify-content: center;
  min-height: 600px;
}

.header__subtitle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  max-width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  margin-left: 64px;
  margin-bottom: 30px;

}

.header__link{
 text-decoration: none;
}

.logo{
  display: flex;
  position: relative;
  top: 30px;
  left: 64px;
  z-index: 4;
}

.logo_place_header{
  display: flex;
  min-width: 154px;
  min-height: 31px;
}

.header__square{
  display: flex;
  position: absolute;
  top: 64px;
  right: 0px;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  display: flex;
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  z-index: 1;
}

.header__main-illustration{
  display: flex;
  position: absolute;
  max-height: 608px;
  max-width: 756px;
  top: 100px;
  right: 0px;
  z-index: 3;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.description{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.two-columns{
  max-width: 80%;
  display: flex;
  flex-direction: row;
}

.two-columns__brief{
  min-width: 175px;
  position: relative;
  display: flex;
  left: 0px;
  line-height: 1.2;
  font-size: 18px ;
  font-weight: normal;
}

.two-columns__main-text{
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: space-between;
  max-width: 80%;
}

.two-columns__paragraph{
  display: flex;
  margin-bottom: 30px;
  position: relative;
  align-items: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;

}

.two-columns__paragraph::last-of-type{
  margin-bottom: 30px;
  display: flex;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
