*{
  margin: 0px;
  padding: 0px;
}

h1{
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #F2F2F2;
  /* parameters for the header section */

}

.header__title{
  position: relative;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  width: 730px;
  padding-left: 64px;
  min-height: 600px;
  z-index: 3;
}

.header__subtitle{
  position: absolute;
  max-width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  left: 64px;
  bottom: 30px;
  z-index: 3;

}

.header__link{
 text-decoration: none;
 color: #2F80ED;
}

.logo{
  position: relative;
  top: 30px;
  left: 64px;
  z-index: 4;
}

.logo_place_header{
  display: flex;
  width: 154px;
  height: 31px;
}

.header__square{
  position: absolute;
  top: 64px;
  right: 0px;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  display: flex;
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  z-index: 1;
}

.header__main-illustration{
  position: absolute;
  max-height: 608px;
  max-width: 756px;
  top: 80px;
  right: 0px;
  z-index: 2;
}

.description{
  margin-top: 100px;
  position: relative;
  display: flex;
  justify-content: center;
}

.two-columns{
  width: 80%;
  display: flex;
  flex-direction: row;
}

.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
}

.two-columns__main-text{
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph{
  margin-top: 0px;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;

}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits{
  position: relative;
  margin-top: 100px;
}

.digits__section_title{
  display: flex;
  margin: auto;
  width: 60%;
  margin-bottom: 20px;
  justify-content: center;
}

.digits__section_subtitle-text{
  width: 60%;
  padding-top: 20px;
  margin: auto;
  margin-bottom: 60px;
  text-align: center;
}

.table{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  margin: auto;
  justify-content: space-between;
  margin-top: 60px;
  padding-bottom: 100px;
}

ul.table{
  padding-left: 0px;
  }

li.table__cell{
  display: flex;
  align-content: stretch;
  width: 250px;
  flex-wrap: wrap;
}

li.table__cell:nth-child(-n+4){
  margin-bottom: 60px;
}

.section-title-text{
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle-text{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  list-style: none;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  padding-bottom: 20px;
}

.feynman{
  background-image:url('../images/feynman.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  display: flex;
  background-size: 867px 637px;
  height: 790px;
  position: relative;
  justify-content: center;
  margin-bottom: 100px;
  background-color: #F2F2F2;
}

.feynman__title{
 width: 775px;
 line-height: 1.15;
 font-size: 120px;
 font-weight: bold;
 text-align: center;
 margin-top: 100px;
}

.feynman__subtitle{
line-height: 1.15;
font-size: 36px;
font-weight: normal;
text-align: center;
margin-top: 70px;

}

.feynman__link{
position: absolute;
top: 50%;
right: 48px;
line-height: 51px;
font-size: 36px;
font-weight: normal;
color: #2F80ED;
text-decoration: none;
}

.kaufman{
background-color: #1F1F1F;
position: relative;
overflow: hidden;
}

.kaufman__triangle{
  position: absolute;
  right: -124px;
  overflow: hidden;
  background-size: 660px 636px;
}

.section-title_theme_dark{
  position: relative;
  display: flex;
  margin: auto;
  width: 60%;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;
  color: white;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  padding-top: 90px;
  z-index: 2;

}

.section-subtitle_theme_dark{
  text-align: center;
  width: 60%;
  margin: auto;
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table__theme_dark{
  position: relative;
  width: 1100px;
  z-index: 3;
  margin: auto;
  list-style: none;
  padding-bottom: 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 80px;
  padding-bottom: 20px;

  }

.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 20px;
}

.footer{
  min-height: 350px;
  background-color:#1F1F1F;
  bottom: 0px;
  padding-top: 60px;
  box-sizing: border-box;
}

.footer__columns{
  margin: auto;
  padding-bottom: 40px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.logo_place_footer{
  max-width: 183px;
  max-height: 35px;

}

.footer__author{
  color: white;
  padding: 18px 0px 18px 0px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading{
  color: white;
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-link{
  color: white;
  text-decoration: none;
}


.footer__column_content_about{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
}

.footer__column_content_social{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__list{
  text-align: center;
  padding: 0px;
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

li.footer__list:nth-of-type(2){
  text-align: left;
}

.footer__social_media_icons{
margin-right: 10px;
}
