.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  /* parameters for the header section */
}

.header__title {
  max-width: 730px;
  margin-left: 64px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  position: absolute;
  max-width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  left: 64px;
  bottom: 30px;
  z-index: 3;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.logo {
  background-image: url(../images/logo_place_header.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 4;
}

.logo_place_header {
  display: flex;
  width: 154px;
  height: 31px;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square {
  display: flex;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 1;
  position: absolute;
  top: 64px;
  right: 0px;
}

.header__main-illustration {
  position: absolute;
  object-position: bottom right;
  max-height: 608px;
  bottom: 0px;
  right: 0px;
  max-width: 756px;
  z-index: 2;
  object-fit: contain;
}

.description {
  margin-top: 100px;
  position: relative;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.two-columns__brief {
  max-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin-top: 0px;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  text-indent: 0px;
  margin-bottom: 0px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  position: relative;
  margin-top: 100px;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  margin: auto;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 100px;
}

.table__cell {
  display: flex;
  align-content: flex-start;
  width: 250px;
  flex-wrap: wrap;
}

.table__cell:nth-of-type(n-5){
  margin-bottom: 60px;
}

.section__title {
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

.section__subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-bottom: 60px;
}

.table__heading {
  margin: 0px;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}

.table__text:last-of-type() {
  text-indent: 0px;
}

.feynman {
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-size: 867px 637px;
  height: 790px;
  position: relative;
  margin-bottom: 100px;
  background-color: #f2f2f2;
}

.feynman__title {
  width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 70px;
}

.feynman__subtitle {
  line-height: 1.15;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  justify-content: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  position: absolute;
  right: -124px;
  top: 0px;
  overflow: hidden;
  background-size: 660px 636px;
}

.section__title_theme_dark {
  position: relative;
  display: flex;
  margin: auto;
  width: 60%;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;
  color: white;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  padding-top: 90px;
  z-index: 2;
}

.section__subtitle_theme_dark {
  text-align: center;
  width: 60%;
  margin: auto;
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 60px;
}

.table__theme_dark {
  position: relative;
  width: 1100px;
  z-index: 3;
  margin: auto;
  list-style: none;
  padding-bottom: 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  display: flex;
  flex-direction: column;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 80px;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  padding-bottom: 0px;
  padding-top: 60px;
  box-sizing: border-box;
  display: flex;
  padding-bottom: 40px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo__logo_place_footer {
  max-width: 183px;
  max-height: 35px;
}

.footer__author {
  color: white;
  padding: 18px 0px 18px 0px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  color: white;
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.footer__column_content_about {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__list {
  padding: 0px;
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__list:nth-of-type(2) {
  text-align: left;
}

.footer__social-icons {
  margin-right: 10px;
}
